{% extends 'base.html' %} {% block title %} Hochschule {% endblock %} {% block
import %} {% endblock %} {% block content %}
<div class="container w-75">
  <h1 class="text-center m-4">Hochschule</h1>
  <div id="FilterAll">
    <!-- div for every filter needed -->
    <form id="filter_form" action="">
      <select
        id="fc"
        class="filter form-select filter_country"
        name="filter_country"
      >
        <option value="none">-Land-</option>
      </select>
      <select id="fil_fac" name="filter_fac" class="filter form-select">
        <option value="none">-Fakultät-</option>
      </select>
      <select id="fil_shown" name="filter_shown" class="filter form-select">
        <option value="none">-Anzeige extern-</option>
        <option value="y">Ja</option>
        <option value="n">Nein</option>
      </select>
      <select id="fil_act" name="filter_activity" class="filter form-select">
        <option value="none">-Aktiv-</option>
        <option value="y">Ja</option>
        <option value="n">Nein</option>
      </select>
      <select
        id="fil_agree"
        name="filter_agreetype"
        class="filter form-select fil_agree"
      >
        <option value="none">-Vertragstyp-</option>
      </select>
      <select id="sorting" name="sortby" class="filter form-select">
        <!-- implement sorting filter -->
        <option id="asc" value="d">Sortierung absteigend</option>
        <option id="desc" value="a">Sortierung aufsteigend</option>
      </select>
      <br />
      <button id="fil_reset">Zurücksetzen</button>
    </form>
  </div>
  <table class="table table-hover table-light text-center">
    <thead class="thead-dark">
      <tr>
        <!-- Your Columns HERE -->
        <th class="tbl_column_huge">Name</th>
        <th class="tbl_column_small">Land</th>
        <th class="tbl_column_small">Verträge</th>
        <th class="tbl_column_small">Bearbeiten</th>
      </tr>
    </thead>
    <tbody id="addItems">
      <tr>
        <td>RMIT Universität Melbourne</td>
        <td>Australien</td>
        <td>6</td>
        <td>
          <a href="{{ url_for('hochschule_bearbeiten') }}"
            ><button class="btn btn-outline btn-light">
              <i class="fas fa-pen-alt"></i>
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
